/* images */
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* controls */

.carousel-control-next-icon {
    background-image: url("../img/noun_robotic_hand_2838670.svg");
}

.carousel-control-prev-icon {
  background-image: url("../img/noun_robotic_hand_2838670.svg");
}


