.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
}

.carousel-track-container {
    background-color: gainsboro;
    padding: 10px;
}